<br>
<footer class=" thisFooter section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, pellentesque eu, pretium quis,
            sem. Nulla consequat massa quis enim. .</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span
              class="copyright-year">ooo</span><span> </span><span>ooo</span><span>. </span><span>ooo
              oooooo.</span></p>
        </div>
      </div>
      <div class="col-md-7">
        <br>

        <h4 class="text-white">PostgresSQL-ORM-Laravel-Angular</h4>
        <h4 class="text-success">LEMP Stack - Docker Devops</h4>

        <h4 class="text-white"><a
            href="https://github.com/thienminhaquarius/xe-may-front-end">https://github.com/thienminhaquarius/xe-may-front-end</a>
        </h4>
        <h4 class="text-white">
          <a href="https://github.com/thienminhaquarius/xe-may-back-end">https://github.com/thienminhaquarius/xe-may-back-end
          </a>
        </h4>

      </div>
      <div class="col-md-1 col-xl-1">

      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
  </div>
</footer>