<br>
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
              src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37"
              srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, .</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span
              class="copyright-year">lkk</span><span> </span><span>lklkkl</span><span>. </span><span>kjhkjjh
              Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
     
        <dl class="contact-list">
          <dt>adipiscing :</dt>
          <dd>et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
            amet orci eget eros faucibus tincidunt. Duis leo. Sed </dd>
        </dl>
        <dl class="contact-list">
          <dt>ante:</dt>
          <dd><a href="mailto:#">Donec vitae sapien </a></dd>
        </dl>
        <dl class="contact-list">
    <p class="text-center">io et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. </p>
    <dt>lklkkl:</dt>
          <dd><a href="tel:#">+tincidun</a> <span>or</span> <a href="tel:#">jkljk  tincidun</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>kljyio</h5>
        <ul class="nav-list">
          <li><a href="#">5454</a></li>
          <li><a href="#">jkgh</a></li>
          <li><a href="#">faucibus</a></li>
          <li><a href="#">jkhkhj</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
  </div>
</footer>