<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#" [routerLink]="['/']">Laravel Xe </a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/add-new-bike']">Add New Bike</a>
      </li>
    </ul>
  </div>

  <!-- Links -->


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isAuhtenticated">
        <a class="nav-link" href="#" [routerLink]="['/login']">Log In</a>
      </li>
      <li class="nav-item" *ngIf="isAuhtenticated">
        <a class="nav-link" href="#">Hello {{user.username}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/logout']" *ngIf="isAuhtenticated">Log Out</a>
      </li>
    </ul>
  </div>
</nav>