<div class="container detail-product">
  <div class="row">
    <div class="col-md-7">
      <img src="{{imageSrc}}" class="rounded text-center" alt="Cinque Terre">
      <br>
      <br>
    </div>
    <div class="col-md-3">
      <h5 class="card-title">{{bike?.name?.toUpperCase()}}</h5>
      <p class="card-text">Prices: {{bike?.price | currency:'$ '}}</p>
      <p class="card-text">Info: {{bike?.bikedetail?.info}}</p>
      <star-rating labelText="Current Rating: {{bike?.ratings_avg}}" labelPosition="top" staticColor="ok"
        [showHalfStars]="true" [readOnly]="true" [starType]="'svg'" [rating]="bike?.ratings_avg || 0">
      </star-rating>
    </div>
  </div>
  <hr>
  <h3 class="card=text">Rating</h3>
  <app-user-rating *ngIf="activeRatingComponent" [ratingModel]="userHasRatingThis"></app-user-rating>
  <br>
  <hr>
  <app-comment-dashboard *ngIf="bike?.id" [bike_id]="bike.id"></app-comment-dashboard>
</div>