<div class="container add-new-product">

  <h2>Add new bike </h2>
  <form enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name:</label>
      <input name="name" [(ngModel)]="newBike.name" type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input name="price" [(ngModel)]="newBike.price" type="number" class="form-control" id="price" required>
    </div>
    <div class="form-group">
      <label for="thumbnailImage">Thumbnail Image:</label>
      <div class="custom-file mb-3">
        <input #imageInput type="file" class="custom-file-input" accept="image/jpeg,image/jpg, image/png"
          id="thumbnailImage" (change)="processFile(imageInput)">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Info:</label>
      <input name="info" [(ngModel)]="newBike.info" type="text" class="form-control" id="info" required>
    </div>

    <div class="form-group">
      {{messages}}
    </div>

    <div class="row justify-content-center">
      <button [disabled]="isDisabled" (click)="createBike()" type="submit" class="btn btn-primary btn-lg text-center">Create
        Bike</button>
    </div>
  </form>

</div>