<!--The content below is only a placeholder and can be replaced.-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">
        <a class="mdl-navigation__link" [routerLink]="['/']">Xe Máy</a>
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link">Login</a>
        <a class="mdl-navigation__link">Register</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content" style="padding: 20px;">
  </main>
</div>
<router-outlet></router-outlet>