<div class="card product">
  <a href="#" class="btn" routerLink="/detailsproduct/{{product.id}}"> <img class="card-img-top"
      src="{{assetsUrl+product?.thumbnailImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product?.name?.toUpperCase()}}</h5>
      <p class="card-text">{{product?.price | currency:'$'}}</p>
      <p class="card-text">Commnets ({{product?.comments_count}})</p>

      <star-rating [starType]="'icon'" [rating]="product?.ratings_avg"></star-rating>

    </div>
  </a>
</div>