<div class="card product">
  <a href="#" class="btn" routerLink="/detailsproduct/{{product.id}}"> <img class="card-img-top"
      src="{{assetsUrl+product?.thumbnailImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product?.name?.toUpperCase()}}</h5>
      <p class="card-text">{{product?.price | currency:'$'}}</p>
      <p class="card-text">Comments ({{product?.comments_count}})</p>
      <!-- <star-rating-comp [startype]="'svg'" [rating]="{{product?.ratings_count}}"></star-rating-comp> -->
    </div>
  </a>
</div>