<div class="container dashboard justify-content-center">
  <br>
  <br>
  <h2 class="text-info">NEWEST BIKES</h2>
  <div class="row">
    <div class="card-deck col-6 col-sm-4 col-md-3 float-left" *ngFor="let bike of listIdBikes">
      <app-product [bike_id]="bike.id"></app-product>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="!disableLoading" style="margin-top:25px">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row justify-content-center moreBtn">
    <button *ngIf="showMoreBtn" type="button" class="btn btn-success" (click)="getMore()">More
      Products</button>
  </div>

  <br>
  <br>
  <h2 class="text-success" *ngIf="listBikeTopRatings.length">TOP RATINGS</h2>
  <div class="row">
    <div class="card-deck col-6 col-sm-4 col-md-3 float-left" *ngFor="let bike of listBikeTopRatings">
      <app-product [bike_id]="bike.id"></app-product>
    </div>
  </div>

  <br>
  <br>
  <h2 class="text-secondary" *ngIf="listBikeTopComments.length">TOP COMMENTS</h2>
  <div class="row">
    <div class="card-deck col-6 col-sm-4 col-md-3 float-left" *ngFor="let bike of listBikeTopComments">
      <app-product [bike_id]="bike.id"></app-product>
    </div>
  </div>

</div>